opencv-python==4.7.0.72 
numpy==1.24.2
comtypes==1.1.10
pycaw==20181226
pygame==2.2.0

mediapipe; platform_system != "Darwin" or platform.machine != "arm64"
mediapipe-silicon; platform_system == "Darwin" and platform.machine == "arm64"
protobuf==3.20.1